.App {
  text-align: center;
}

a {
  color: rgb(0, 0, 0);
}
a:hover {
   color: rgb(248, 248, 248)
}

a:visited{
  color:rgb(0, 0, 0)
}

.home-btn {
  background-color:rgba(255, 255, 255, 0.274)
}

.boxcontent1 {
  background-color: rgba(192, 211, 197, 0.212);
}

.boxcontent2 {
  background-color: rgba(192, 211, 197, 0.212);
  color: rgba(143, 143, 143, 0.212);
}

.no-padding {
  margin: 0
}

.image-standard-size{
  width: 18rem;
}

.card-standard-size{
  width:18rem;
  height: 25rem;
  max-height: 25rem;
  overflow: clip
}

.circle {
  height: 70px;
  width: 70px;
  border-radius: 45%;
  padding: 20px;
}

.circle:hover {
  animation: gelatine 1s infinite linear;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}


.form-container {
  background: radial-gradient(#69ebf6, #dba9db, #69ebf6, #dba9db);
  width: 35%;
  margin-left: 33%;
  margin-right: 33%;
  padding: 1%;
  border-radius: 5%;
  transition: background 2s, height 2s, background-color 2s, transform 2s;
}

  
@media only screen and (max-width: 600px) {
  .form-container  {
    background: radial-gradient(#69ebf6, #dba9db, #69ebf6, #dba9db);
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 1%;
    border-radius: 5%;
    transition: background 2s, height 2s, background-color 2s, transform 2s;
  }
}

.form-container:focus {
  background: radial-gradient(#7af669, #b1a9db, #7af669, #b1a9db);
}

form{
  font-weight: bold;
  color:rgb(255, 255, 255)
}

.special-text {
  background-image: linear-gradient(violet, rgb(250, 114, 60), blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.top-margin{
  margin-top:.6%
}

@media only screen and (max-width: 600px){
  .top-margin{
    margin-top:2.55%
  }
}
